html, body, #app, #map {
  height: 100%;
  margin: 0;
  padding-top: 20px;
}

#app div {
  height: 100%;
}

#map {
  margin: 0px 24px 24px 0px;
}

.btn-group {
  height: 48px !important;
}

.itinerary {
  height: 40px !important;
  margin: 0px 0px 0px 6px;
}

.modal-backdrop {
  background-color: rgba(225,225,225,0) !important;
}

.in.modal {
  display: inline-flex !important;
}
